*{
    box-sizing: border-box;



  

}
body{
    margin: 0px;
    padding: 0px;
    font: poppins;
    background-image: url("./background.jpg");
    width: 100%;
    background-attachment: fixed;
    -webkit-user-select: none;
  -moz-user-select: none;  
  -ms-user-select: none;     
  user-select: none;          
    
}
#main{
    
    
    position: relative;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:8%;
    background-color: rgb(255, 255, 255);
    box-shadow:1px 5px 10px #891c23;
    z-index: 1;
}
.logo img{
    height: 35px;
}
.menu{
    list-style: none;
    display: flex;
}
.menu li a{
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    color: black;

}
a{
    text-decoration: none;
}

.cart img{
    width: 25px;

}

.image{
    width: 30%;
    height: auto;

}
.image img{
    width:  100% ;
    height: 100%;
    object-fit:contain;
    
}
.welcome{
    padding-left: 450px;
    font-size: 2cm;
    top: 200px;
   text-align: center;
    position: absolute;
    color: white;
    
}
div thead{
    background-color: white
}
.bakerq{
    width: 100%;
    height: 700px;
    background-color: white;
    font-size: 2cm;
    
   text-align: center;
    position: absolute;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    color: white;
    top: 800px;
}
.bakerq:hover
{
color: #891c23;
z-index: -1;
}
.form{
    
   padding: 100px;
    top: 200px;
    position: absolute;
    margin-left: 25%;
    margin-left: 25%;
    box-shadow:1px 1px 12px 0px rgb(252, 249, 249);
   
 flex-wrap: wrap;
}
.form1F{
    display:block;
   height: 400px;
    top: -100px;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translate(-70%,-60%);
    background-color: white;
    border-radius: 5px;
    margin-left: 25%;
    margin-left: 25%;
    padding: 40px;
    box-shadow:1px 1px 12px 0px rgb(114, 7, 7);
    justify-content: space-around;
    z-index: +1;
    font-size: 0.7cm;
    
}
.form div{
    padding: 20px;
    color: white;
    border-radius: 15px;
   
    
}

input{
    
    border: none;padding: 5px;
    border-radius: 5px;
}
input:hover{
    box-shadow:1px 5px 19px 1px #891c23;
}
.Content{
    display: flex;
    width: 100%;
    height: auto;
    top: 800px;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 2px;
}


.menu li a:hover{
    border-radius: 5px;
    box-shadow:0px 0px 2px 0px #891c23;
    transition: all ease 0.2s;
}

.cart img:hover{
    width: 40px;
     transition: all ease 0.2s;
   
    

}
.Cakes{
    
    
    height: auto;
    align-items: center;
   
    background-color: white
}


div.box {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 160px;
  
  
}

div.box:hover {
  border: 1px solid #777;
  box-shadow: 0px 1px 10px 0px #891c23;
}

div.box img {
  width: 100%;
  height: 100px;
}

button,#in {
  width: 100%;
  height: 50px;
  text-align: center;
  border-radius: 5px;
  border: none;
  background-color: white;
}
button:hover,#in:hover{

    background-color: #891c23;
    color: white;
}
.Content1{
    display: flex;
    width: 100%;
   
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 1800px;
    transform: translate(-50%,-50%);
    
    
    
}
.image1 img{
    padding: 20px;
    width: 100%;
    border-radius: 30px;
}
#footer{
    top: 3300px;
    
    justify-content: space-around;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:15%;
   
    box-shadow:1px 5px 30px 1px white;
    margin-bottom: 0;
    color: white;
    
}
#Contact{
    height: 55px;
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    
    
}
#web{height: 100%;
    width: 100%;
    background: #891c23;
    
}
footer div a{
    text-decoration: none;
    color: inherit;
    color: white;
}
footer div f{
    background-color: rgb(0, 132, 255);
    padding:15px;
    border-radius: 25px;
    z-index: +1;
    
    text-transform: none;
    
}
footer div w{
    background-color: rgb(29, 129, 19);
    padding:15px;
    border-radius: 25px;
}
footer div in{
    background-color: rgb(223, 41, 17);
    padding:15px;
    border-radius: 25px;
}
footer div in:hover,
footer div w:hover,
footer div f:hover{
    box-shadow:1px 5px 30px 1px white;
    transition: all ease 0.2s;
}

#c {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height:8%;
    color: white;
    box-shadow: 0px 5px 10px 1px white;
    font-size: 36px;
    background-color: #891c23;
    position: center;
    
    
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height:8%;
    color: white;
    box-shadow: 0px 5px 10px 1px white;
    font-size: 36px;
    background-color: #891c23;
    position: center;
}
h3{
    text-align: center;
    text-decoration: none;
    color: inherit;
    color: #891c23;
}
#Special{
    position: absolute;
    left: 50%;
    right: 50%;
    top: 1400px;
    transform: translate(-50%,-50%);
}
.bill{
    
    position: relative;
    left: 50%;
    right: 50%;
    top: 2200px;
    transform: translate(-50%,-50%);
   display: block;
   position: relative;
   box-shadow:0px 1px 10px 1px white;
   background-color: #891c23;
}
.bill ul{
    padding: 10px;
    margin-left: 400px;
    display: flex;
    list-style: none;
    font-weight: 3cm;
    
}
.bill li a{
    
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 42px;
    display: flex;
    font-size: 0.9em;
    
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(252, 248, 248);
    text-decoration: none;
    
}
.bill0{
    
    position: absolute;
    left: 50%;
    right: 50%;
    top: 2590px;
    transform: translate(-50%,-50%);
   display: block;
   position: relative;
   box-shadow:0px 1px 10px 1px #891c23;
   background-color: #ffffff;
}
.bill0 ul{
    
    padding: 10px;
    margin-left: 400px;
    display: flex;
    list-style: none;
    font-weight: 3cm;
    
}
.bill0 li a{
    
    height: 6px;
    margin: 3px;
    padding: 0px 42px;
    display: flex;
    font-size: 0.9em;

    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    
}
.box{
    height: auto;
    width: 100%;
}
.bill1{
    
    position: relative;
    left: 50%;
    right: 50%;
    top: 2900px;
    transform: translate(-50%,-50%);
   display: block;
   position: relative;
   box-shadow:0px 1px 10px 1px white;
   background-color: #891c23;
}
.bill1 ul{
    padding: 10px;
    margin-left: 400px;
    display: flex;
    list-style: none;
    font-weight: 3cm;
    
}
.bill1 li a{
    
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 42px;
    display: flex;
    font-size: 0.9em;
    
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(252, 248, 248);
    text-decoration: none;
    
}